<IfModule mod_rewrite.c>
Header set Access-Control-Allow-Origin "*"
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/?page=$1 [L]
</IfModule>